@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&family=Rajdhani:wght@300;400;500;600&display=swap');

body{
    font-family: 'Poppins', sans-serif;
}
@media (prefers-reduced-motion) {
    *{
        animation : none !important;
        transition: none !important;
    }
  }
html{
    font-size: 15px;
}