---
import Header from "../layout/Header.astro";
import Footer from "../layout/Footer.astro";
import Hero from "../layout/Hero.astro";
import "../global/style.css";
import Gallery from "../layout/Gallery.astro";
import LastUpdate from "../components/LastUpdate.astro";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<meta name="description" content="Programming wallpapers for developers. Find inspiring images and backgrounds related to programming and coding.">
  		<meta name="keywords" content="wallpapers, programming, development, coding, developers , 4K , web">
  		<meta name="author" content="Pixelscript">
		<title>The best wallpapers for developers - Pixelscript</title>
	</head>
	<body class="bg-[rgb(28,28,28)] text-neutral-50 px-4 pt-4">
			<div class="w-max py-3 px-6 mx-auto text-center border-2 border-dashed">
				<i class="fa-solid fa-triangle-exclamation text-4xl"></i>
				<h1 class="text-2xl">Warning</h1>
				<p class="">Pixelscript Blog has moved to the following url :</p>
				<a class="text-lime-500 font-medium hover:underline" href="https://pixelscript.web.app">https://pixelscript.web.app</a>
			</div>
		<div class="max-w-[1200px] mx-auto">
			<Header/>
			<Hero/>
			<Gallery/>
			<LastUpdate/>
			<Footer/>
		</div>
	</body>
	<script src="https://kit.fontawesome.com/65a19dc040.js" crossorigin="anonymous"></script>
</html>
