---
import type { Names } from './Tag.astro';
interface Props{
    content : Names | "all";
}
const {content} = Astro.props;
---
<button class="border-neutral-50 flex items-center gap-2 px-4 pl-2 py-1 capitalize rounded-lg border-2 hover:bg-neutral-50 hover:text-neutral-900 transition-colors">
    <span class="text-[.3rem]">
        <i class="fa-solid fa-circle"/>
    </span>
    {content}
</button>