<script>
    const displayUp = (element:HTMLElement , max:number) => {
        let value = 0;
        const interval = setInterval(() => {

            element.textContent = `${value < 10 ? "0" : ""}${value}+`;

            if(value >= max) clearInterval(interval);
            else value++;

        } , 100);
    }
    //
    window.addEventListener("load", () => {
        let wallpaperEl = document.querySelector("#wallpaperEl") as HTMLElement;
        const wallpaperCount = document.querySelectorAll(".wallpaper").length;

        if (wallpaperEl){
            displayUp(wallpaperEl, wallpaperCount);
        }
        //
        const tecnologiesEl = document.querySelector("#tecnologies") as HTMLElement;
        const tecnologiesCount = document.querySelector("#filter")?.children.length;

        if (tecnologiesEl && tecnologiesCount){
            displayUp(tecnologiesEl , tecnologiesCount - 1);
        }
    });
</script>
<article class="flex justify-center gap-6 flex-wrap capitalize sm:gap-12 lg:justify-start">
    <div>
        <span id="wallpaperEl" class="block text-4xl font-semibold mb-2"
            >00+</span
        >
        <span>wallpapers</span>
    </div>
    <div class="bg-neutral-200 w-[0.15rem]"></div>
    <div>
        <span id="tecnologies" class="block text-4xl font-semibold mb-2">00+</span
        >
        <span>technologies</span>
    </div>
    <div class="bg-neutral-200 w-[0.15rem] hidden min-[370px]:block"></div>
    <div>
        <span class="block text-4xl font-semibold mb-2">4K+</span>
        <span>quality</span>
    </div>
</article>
