<article class="flex justify-between gap-4 flex-wrap capitalize">
    <div>
        <span class="block text-4xl mb-2">200+</span>
        <span>wallpapers</span>
    </div>
    <div>
        <span class="block text-4xl mb-2">02+</span>
        <span>tecnologies</span>
    </div>
    <div>
        <span class="block text-4xl mb-2">4K+</span>
        <span>quality</span>
    </div>
</article>