<article class="flex justify-start gap-12 flex-wrap capitalize">
    <div>
        <span class="block text-4xl font-semibold mb-2">200+</span>
        <span>wallpapers</span>
    </div>
    <div class="w-[0.15rem] bg-neutral-200"></div>
    <div>
        <span class="block text-4xl font-semibold mb-2">02+</span>
        <span>tecnologies</span>
    </div>
    <div class="w-[0.15rem] bg-neutral-200"></div>
    <div>
        <span class="block text-4xl font-semibold mb-2">4K+</span>
        <span>quality</span>
    </div>
</article>