---
export const enum Names {
    HTML = "html",
    CSS = "css",
    JS = "javascript"
}
interface Props{name : Names}
const {name} = Astro.props;
//
let style = "";
switch(name){
    case Names.HTML:style = "text-orange-400 border-orange-400";break;
    case Names.CSS:style = "text-blue-400 border-blue-400";break;
    case Names.JS:style = "text-yellow-400 border-yellow-500";break;
    default:style = "text-neutral-50 border-neutral-50";
}
---
<div class={`w-max px-4 py-1 text-xs capitalize border-2 rounded-full ${style}`}>
    {name}
</div>