---
import Tag from "./Tag.astro";
import { Names } from "./Tag.astro";
---

<style>
    .animation {
        animation: animation 4s linear infinite;
    }
    @keyframes animation {
        to {
            rotate: 360deg;
        }
    }
</style>
<article class="relative max-w-[450px] mx-auto">
    <div
        class="hidden bg-gradient-to-t animation from-indigo-500 via-pink-500 to-yellow-400 absolute inset-0 blur-xl -z-10 lg:block"
    >
    </div>
    <div class="aspect-[16/8]">
        <img
            class="w-full h-full object-cover rounded-tl-xl rounded-tr-xl"
            src="https://cdn.pixabay.com/photo/2020/01/14/02/09/vapor-4763904_640.jpg"
            alt="name_here"
        />
    </div>
    <div class="bg-zinc-900 p-4 rounded-bl-xl rounded-br-xl">
        <h3 class="text-2xl font-light mb-4">Neon Wallpaper</h3>
        <div class="flex flex-wrap gap-4 mb-6">
            <Tag name={Names.HTML} />
            <Tag name={Names.CSS} />
            <Tag name={Names.JS} />
        </div>
        <div class="flex justify-end">
            <slot/>
        </div>
    </div>
</article>
