---
import Tag from "./Tag.astro";
import type { Names } from "./Tag.astro";

interface Props{
    data : {
        title : string,
        src : string,
        tags : string[],
    },
    animated? : boolean
}
const {data , animated = false} = Astro.props;
---

<style>
    .animation {
        animation: animation 4s linear infinite;
    }
    @keyframes animation {
        to {
            rotate: 360deg;
        }
    }
</style>
<article class="wallpaper w-full relative max-w-[450px] mx-auto" data-tags={data.tags}>
    <div
        class={`hidden bg-gradient-to-t animation from-indigo-500 via-pink-500 to-yellow-400 absolute inset-0 blur-xl -z-10 ${animated && "md:block"}`}
    >
    </div>
    <div class="bg-zinc-900 relative aspect-[16/8] rounded-tl-xl rounded-tr-xl ">
        <img
            class="absolute inset-0 object-cover rounded-tl-xl rounded-tr-xl"
            loading="lazy"
            alt={data.title}
            src={data.src + "_hd.jpg"}
        />
    </div>
    <div class="bg-zinc-900 p-4 rounded-bl-xl rounded-br-xl">
        <h3 class="text-2xl font-light mb-4">{data.title}</h3>
        <div class="flex flex-wrap gap-4 mb-6">
            { data.tags.map((t) => <Tag name={t as Names} />) }
        </div>
        <div class="flex justify-end">
            <slot/>
        </div>
    </div>
</article>
