<footer class="pb-6">
    <hr class="mb-12" />
    <div class="flex flex-wrap gap-8 items-center justify-between">
        <div
            class="border-neutral-400 w-[3.2rem] mr-12 text-xl flex items-center aspect-square rounded-lg border-2"
        >
            <span class="text-lime-400 inline font-medium">pixel</span>script
        </div>
        <h2 class="font-light">
            Made with <i class="fa-solid fa-heart"></i> by <a
                title="go to instagram"
                class="text-lime-400 hover:underline"
                href="https://www.instagram.com/villegas.arts/"
            >
                Numonu</a
            >
        </h2>
    </div>
</footer>
