---
import HeaderLink from "../components/HeaderLink.astro";
---

<header class="py-4 flex justify-between items-center">
    <div
        class="w-[3.6rem] flex items-center aspect-square rounded-lg border-2 text-2xl"
    >
        <span class="text-lime-400 inline font-medium">pixel</span>script
    </div>
    <ul class="flex justify-between items-center gap-4 text-xl">
        <HeaderLink href="https://www.instagram.com/villegas.arts/">
            <i class="fa-brands fa-instagram"></i>
        </HeaderLink>
        <HeaderLink href="https://www.linkedin.com/in/juan-villegas-dev/">
            <i class="fa-brands fa-linkedin-in"></i>
        </HeaderLink>
        <HeaderLink href="https://github.com/Numonu/pixelscript">
            <i class="fa-brands fa-github-alt"></i>
        </HeaderLink>
    </ul>
</header>
