<header class="py-4 flex justify-between items-center">
    <div class="w-12">
        <img src="https://www.svgrepo.com/show/495184/colors-square.svg" alt="logo">
    </div>
    <ul class="flex justify-between gap-4">
        <li class="border-neutral-50 w-[2.8rem] p-3 rounded-full border-2 cursor-pointer hover:bg-neutral-50 hover:text-neutral-900 transition-colors">
            <a href="#">
                <img src="https://www.svgrepo.com/show/512399/instagram-167.svg" alt="instagram">
            </a>
        </li>
        <li class="border-neutral-50 w-[2.8rem] p-3 rounded-full border-2 cursor-pointer hover:bg-neutral-50 hover:text-neutral-900 transition-colors">
            <a href="#">
                <img src="https://www.svgrepo.com/show/512419/linkedin-161.svg" alt="linkedin">
            </a>
        </li>
        <li class="border-neutral-50 w-[2.8rem] p-3 rounded-full border-2 cursor-pointer hover:bg-neutral-50 hover:text-neutral-900 transition-colors">
            <a href="#">
                <img src="https://www.svgrepo.com/show/513404/sun.svg" alt="mode">
            </a>
        </li>
    </ul>
</header>