---
import Download from "../components/Download.astro";
import HeaderStats from "../components/HeaderStats.astro";
import type { Names } from "../components/Tag.astro";
import WallpaperCard from "../components/WallpaperCard.astro";
import data from "../database/data.json";
---

<style>
    .button-light:hover {
        --color: rgb(132, 204, 22);
        box-shadow: inset 0 0 5px var(--color), inset 0 0 10px var(--color),
            inset 0 0 25px var(--color), 0 0 5px var(--color),
            0 0 10px var(--color), 0 0 25px var(--color);
    }
</style>
<section class="grid grid-cols-1 lg:grid-cols-2 mb-24 sm:place-items-center lg:place-items-stretch">
    <div class="py-12 lg:py-28">
        <div class="mb-12 sm:text-center lg:text-start">
            <h1 class="text-4xl mb-2 capitalize tracking-[.1rem] min-[320px]:text-5xl">
                Awesome wallpapers <br class="hidden md:block" /> for developers
            </h1>
            <h2 class="text-2xl mb-6">
                by <span class="text-lime-500">Numonu</span>
            </h2>
            <button
                class="bg-lime-500 button-light font-medium flex items-center gap-2 px-4 py-3 rounded-full uppercase transition-shadow sm:mx-auto lg:mx-0"
            >
                <span>view more</span>
                <i class="fa-solid fa-chevron-down"></i>
            </button>
        </div>
        <HeaderStats />
    </div>
    <div class="flex items-center">
        {
            data.slice(0,1).map((d) => {
                return (
                    <WallpaperCard data={d} animated={true}>
                        <Download
                            title={d.title}
                            downloads={d.downloads}
                        />
                    </WallpaperCard>
                );
            })
        }
    </div>
</section>
