---
import Download from "../components/Download.astro";
import HeaderStats from "../components/HeaderStats.astro";
import type { Names } from "../components/Tag.astro";
import WallpaperCard from "../components/WallpaperCard.astro";
import data from "../database/data.json";
---

<style>
    .button-light:hover {
        --color: rgb(132, 204, 22);
        box-shadow: inset 0 0 5px var(--color), inset 0 0 10px var(--color),
            inset 0 0 25px var(--color), 0 0 5px var(--color),
            0 0 10px var(--color), 0 0 25px var(--color);
    }
</style>
<section class="grid grid-cols-1 lg:grid-cols-2 mb-24">
    <div class="py-12 lg:py-28">
        <div class="mb-12">
            <h1 class="text-5xl mb-2 capitalize tracking-[.1rem]">
                Awesome wallpapers <br class="hidden md:block" /> for developers
            </h1>
            <h2 class="text-2xl mb-6">
                by <span class="text-lime-500">Numonu</span>
            </h2>
            <button
                class="bg-lime-500 button-light font-medium flex items-center gap-2 px-4 py-3 rounded-full uppercase transition-shadow"
            >
                <span>view more</span>
                <i class="fa-solid fa-chevron-down"></i>
            </button>
        </div>
        <HeaderStats />
    </div>
    <div class="flex items-center">
        {
            data.splice(0,1).map((w) => {
                return (
                    <WallpaperCard title={w.title} src={w.src} tags={w.tags as Names[]}>
                        <Download
                            title={w.title}
                            actions={w.downloads.map((d) => {
                                return {
                                    src: d.src,
                                    size: d.size,
                                    resolution: d.resolution as [
                                        number,
                                        number
                                    ],
                                };
                            })}
                        />
                    </WallpaperCard>
                );
            })
        }
    </div>
</section>
